@font-face {
  font-family: "Azonix";
  src: url("/src/assets/Azonix.otf") format("opentype");
}

@font-face {
  font-family: "Montserrat";
  src: url("/src/assets/Montserrat/static/Montserrat-Regular.ttf")
    format("truetype");
}



@tailwind base;
@tailwind components;
@tailwind utilities;
